<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>

    <p>i am head</p>
    <div id="countryBar" style="width:1000px; height:600px;"></div>
    <div id="typeBar" style="width:1000px; height:600px;"></div>
    <p>i am end</p>
    <script>
        var chartx = echarts.init(document.getElementById('countryBar'), 'light', {renderer: 'canvas'});
        var charty = echarts.init(document.getElementById('typeBar'), 'light', {renderer: 'canvas'});

        $(
            function () {
                fetchData0(chartx);
                fetchData1(charty);
                setInterval(fetchData0, 2000);
                setInterval(fetchData1, 2000);
            }
        );

        function fetchData0() {
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:5000/countryChart",
                dataType: 'json',
                success: function (result) {
                    chartx.setOption(result);
                }
            });
        }

        function fetchData1() {
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:5000/typeChart",
                dataType: 'json',
                success: function (result) {
                    charty.setOption(result);
                }
            });
        }

    </script>
</body>
</html>